body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  background: #fff;
  width: 1158px;
  height: auto;
}
/* Навігація */
.header-section {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 72px;
}
nav {
  display: flex;
  align-items: center;
}
.navigation-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  padding-left: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 76px;
}
.web-color {
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-color {
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation-list {
  display: flex;
  gap: 40px;
}
.navigation-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}
address {
  padding-top: 12px;
  display: inline-block;
  white-space: nowrap;
}
.address-item-mail {
  padding-right: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
.address-item-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}

a {
  text-decoration: none;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
li {
  display: inline;
}

/* Секція 1 */
.section-first {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
  text-align: center;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  padding-left: 472px;
  padding-top: 188px;
  padding-right: 472px;
  padding-bottom: 48px;
}
.section-first-button {
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
/* Секція 2 */
